<div class="container">
  <div class="row text-center m-5">
    <h4 class="text-center">Record Session</h4>
    <span class="text-center text-muted" *ngIf="!recording">Stopped</span>
    <span class="text-center text-muted" *ngIf="recording">Recording</span>
    <div class="col-12 align-self-center">
      <div class="btn btn-link" (click)="recordAudio()">
        <div class="circle"><fa-icon [icon]="!recording? faMicrophone : faSquare" size="3x"></fa-icon></div>
      </div>
    </div>
    <p class="text-center text-muted" *ngIf="elapsedTime">{{elapsedTime}}</p>
  </div>
  <div class="row text-center m-5">
    <h3>Text</h3>
    <pre>{{spokenText}}</pre>
  </div>
  <div class="row text-center m-5">
    <h3>Error</h3>
    <pre>{{spokenTextError}}</pre>
  </div>
  <div *ngIf="recordedBlob">
    <audio controls [src]="recordedBlob"></audio>
  </div>
</div>
